html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	user-select: none;
}
div#trialTitle{
	position: fixed;
	font-family: "Cambria";
	font-weight: 500;
	font-size: 34pt;
	text-align: left;
	left: 50%;
	top: 10%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
div#flexContainer{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
div#titleFlex{
	background-color: blue;
	flex-grow: 1;
	width:100%;
	align-items: center;
	justify-content: center;
	
}
div#buttonFlex{
	background-color: red;
	flex-grow: 1;
	width: 100%;
	align-items: center;
	justify-content: center;

}
div#gridFlex{
	background-color: yellow;
	flex-grow: 4;
	width: 100%;
	align-items: center;
	justify-content: center;

}
div#gridLayer{
	position: fixed;
	
}
canvas#myCanvas{
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#continueButton, #nextButton{
	width: 100%;
	height: 100%;
	background-color: #AF0000;
	color: white;
	font-family: "Consolas";

}
#continueButton:hover{
	background-color: #800000;
}
#nextButton:hover{
	background-color: #800000;
}
#feedbackBox{
	background-color: white;
	font-family: 'Bahnschrift';
	font-size: 16pt;
	border: 2px solid black;
}

div#buttonDiv{
	position: fixed;
	font-family: "Cambria";
	font-weight: 500;
	font-size: 34pt;
	text-align: left;
	width: 200px;
	height: 60px;
	left: 50%;
	top: 90%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}