html, body{
	background-color: #FFF9D0;
}
div#titleText{
	position: fixed;
	font-family: "Cambria";
	font-weight: 500;
	font-size: 34pt;
	left: 50%;
	text-align: left;
	top: 10%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}

div#instructionText{
	position: fixed;
	font-family: "Cambria";
	font-weight: 300;
	font-size: 18pt;
	left: 50%;
	text-align: left;
	top: 25%;
	background-color: orange;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}
div#startDiv{
	position: fixed;
	font-family: "Cambria";
	font-weight: 500;
	font-size: 34pt;
	left: 50%;
	text-align: left;
	top: 90%;
	width: 200px;
	height: 60px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}

#startButton{
	width: 100%;
	height: 100%;
	background-color: #AF0000;
	color: white;
	font-family: "Consolas";
}
#startButton:hover{
	background-color: #800000;
}

